{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Custom Auth Boilerplate</title>
</head>

<body>
    {% block navbar %}

    {% endblock navbar %}

    <div id="msg">
        {% include 'accounts/components/messages.html' %}
    </div>
    
    {% block content %}

    {% endblock content%}

<script>
    const elem = document.querySelector('#msg');
    elem.addEventListener('click', () => elem.style.display = 'none');
</script>
</body>

</html>
